html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    max-height: 100%;
}

.head-pic {
    height: 3em;
    width: 3em;
    margin: .5em;
}

header, nav ul, section, footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
}
nav {
    background-color: black;
    width: 100%;
    margin: 1em 0;
}

section {
    width: 100%;
    margin: 2em 0;
}

nav ul{
    color: #FFF;  
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: .5em;
}

button {
    background-color: #e7e7e7;
    height: 3em;
    width: 3em;
    border: 1px solid #000;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

button a {
    padding: 0;
    margin: 0;
}

.bomb_count {
    color: red;
}

footer {
    position: absolute;
    height: 10em;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: #FFF;
}

#minefield {
   /* display: grid; */
   grid-gap: 0;
}

.mine {
}